.headerRow {
  background-color:#333333 !important;
  color: white;
}

.rankColumn {
  width: 10%;
}

.tagColumn {
  width: 20%;
}

.fightersColumn {
  width: 25%;
}

.ratingColumn {
  width: 15%;
}

.winRateColumn {
  width: 10%;
}

.noData {
  width: 100%;
}