table {
  border-spacing: 0px;
  margin: 0 auto;
  font-weight: bold;
}

th {
  padding: 10px;
}

td {
  padding: 5px 0px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

.headerRow {
  background-color: #333333;
  color: white;
}

.rankColumn {
  width: 5vw;
}

.nameColumn {
  width: 30vw;
}

.mainsColumn {
  width: 20vw;
}

.scoreColumn {
  width: 15vw;
}

.winRateColumn {
  width: 10vw;
}