body {
  margin: 0 auto !important;
  text-align: center;
  width: 90vw;
}

h1 {
  font-size: 2.75em;
  margin: 5px;
}

h2 {
  margin: 15px 0px 7.5px 0px;
}

h3 {
  font-size: 18px;
  margin: 0px 0px 7.5px 0px;
}

p {
  margin: 0px;
}

a {
  color: blue;
  text-decoration: none;
}

ul {
  list-style: none;
}

// -----Nav Styling-----
.navUl {
  background-color: #333333;
  height: 5vh;
  padding-left: 7.5px;
  margin: 0px;
}

.navLi:last-child > a {
  border-right: none;
}

.navLi {
  float: left;
  height: 5vh;
  line-height: 5vh;
}

.navLink {
  border-right: 1px solid white; 
  color: white;
  font-size: 18px;
  padding: 0px 10px;
  text-decoration: none;
}

// -----Pagination Styling-----
.paginationUl {
  height: 5vh;
  background-color: #333333;
  font-size: 18px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.pagination {
  display: inline;
  line-height: 5vh;
  padding: 0px 7.5px;
}

.paginationButton {
  color: rgb(0, 125, 0);
  font-size: 13px;
  width: 60px;
}

.currentPagination > button {
  color: black;
}

// -----Tables Styling-----
table {
  border: solid black 1px;
  border-spacing: 0px;
  margin-bottom: 10px;
  width: 100%;
}

th {
  padding: 10px;
}

td {
  padding: 7.5px 0px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #aaaaaa;
}

.headerRow {
  background-color:#333333 !important;
  color: white;
}

// -----Player Rankings Table Styling-----
.rankingSelect {
  margin: 15px 0px 10px 0px;
}

.rankingSelectLabel {
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
}

.rankColumn {
  width: 5%;
}

.stateColunm {
  width: 5%;
}

.tagColumn {
  width: 20%;
}

.fightersColumn {
  width: 25%;
}

.ratingColumn {
  width: 15%;
}

.winRateColumn {
  width: 15%;
}

// -----Sets Table Styling-----
.roundColumn {
  padding-left: 15px;
  text-align: left;
  width: 20%; 
}

.playerColumn {
  width: 20%;
}

.scoreColumn {
  width: 10%
}

.tournamentsColumn {
  width: 30%
}

.tsRoundColumn {
  padding-left: 15px;
  text-align: left;
  width: 30%;
}

.tsPlayerColumn {
  width: 30%;
}

.tsScoreColumn {
  width: 10%;
}

.greenText {
  color: rgb(0, 160, 0);
}

.redText {
  color: rgb(240, 0, 0);
}

.yellowText {
  color: rgb(255, 239, 95);
}

// -----Tournaments Table Styling-----
.tournamentsListHeader {
  margin-top: 15px;
}

.tournamentNameColumn {
  padding-left: 15px;
  text-align: left;
  width: 30%
}

.dateColumn {
  width: 15%;
}

.entrantsColumn {
  width: 5%;
}

.tournamentWinnerColumn {
  width: 20%;
}

.tournamentUrlColumn {
  width: 30%;
}

// -----Player Profile Head 2 Head Table Styling-----
.personalHead2HeadTable {
  float: left;
  width: 70%;
}

.matchupList {
  float: right;
  margin: 0px 0px 25px 0px;
  padding: 0px;
  width: 30%;
}

.matchupButton {
  display: inline-block;
  margin: 2.5px 5px;
}

.removeImg {
  vertical-align: middle;
}

// -----Top Player Head 2 Head Table Styling-----
.head2HeadTableHeader {
  margin-bottom: 7.5px;
}

.head2HeadTable {
  table-layout: fixed;
}

.head2HeadTh {
  padding: 14px 5px;
  border: solid 0.5px black;
  line-height: 16px;
}

.head2HeadTd {
  border: solid 0.5px black;
  line-height: 16px;
}

.head2HeadLink {
  color: white;
  text-decoration: none;
}

.noDataTd {
  font-size: 16px;
}

.percentagesComparison {
  font-size: 12px;
}

// -----Player Profile Styling-----
.playerDiv {
  display: inline-block;
  margin: 0 25px;
  width: 1/3;
}

.fightersDiv {
  margin-bottom: 10px;
}

.playerInfoForm {
  margin: 15px;
}

.playerInfoLabel {
  margin: 0px 10px;
}

.whichGraph {
  margin-bottom: 5px;
}

.graphContainer {
  position: relative;
  height: 600px;
  width: inherit;
}

// -----Tournament Profile Styling-----
.tournamentHeader {
  margin: 15px 0px;
}

.tournamentDiv {
  display: inline-block;
  margin: 0 25px 7.5px;
  vertical-align: top;
  width: 1/2;
}

.placementsUl {
  margin: 0px;
  padding: 0px;
}

// ----Pair Head 2 Head Styling-----
.pairH2HDiv {
  display: inline-block;
  margin: 15px 25px 7.5px;
  width: 1/3;
}

// -----Request Page Styling-----
.requestSelect {
  margin-top: 15px;
}

.formDiv {
  border: 1px solid black;
  background-color: #aaaaaa;
  padding: 10px 10px 10px 10px;
  margin: 20px auto 25px;
  width: 90%;
}

.formSelect {
  margin: 7.5px 10px 0px 10px;
}

.requestInput {
  width: 30vw;
  margin-left: 10px;
  margin-right: 10px;
}

.requestButton {
  display: block;
  margin: 10px auto 0px;
}

// -----About Styling-----
.aboutH3 {
  margin: 15px 0px 0px 0px;
}