body {
  hyphens: auto;
  margin: 0 auto !important;
  position: relative;
  text-align: center;
  width: 95vw;
}

nav {
  background-color: #333333;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 40px;
  margin: .25vh;
}

h2 {
  font-size: 24px;
  margin: .75vh 0 .5vh;
}

h3 {
  font-size: 18px;
}

a {
  color: blue;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

.greenText {
  color: rgb(0, 160, 0);
  font-weight: bold;
}

.redText {
  color: rgb(240, 0, 0);
  font-weight: bold;
}

.yellowText {
  color: rgb(255, 239, 95);
  font-weight: bold;
}

// -----Nav Styling-----
.navUl {
  height: 5vh;
  padding-left: .75vh;
}

.navLi:last-child > a {
  border-right: none;
}

.navLi {
  float: left;
  height: 5vh;
  line-height: 5vh;
}

.navLink {
  border-right: 1px solid white; 
  color: white;
  font-size: 18px;
  padding: 0 .75vw;
  text-decoration: none;
}

// -----React-Burger-Menu Styling-----
.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 22px;
  right: 5vw;
  top: 1.5vh;
}
 
.bm-burger-bars {
  background-color: #333333;
}
 
.bm-menu-wrap {
  width: 70vw !important;
}
 
.bm-menu {
  background: #333333;
  padding: 2vh 5vw;
}

.bm-item {
  border-bottom: solid white 1px;
  color: white;
  display: inline-block;
  font-size: 18px;
  outline: none;
  padding: .75vh 0;
}

.bm-item:last-child {
  border-bottom: none;
}
 
.bm-overlay {
  background: rgba(0, 0, 0, 0) !important;
}

// -----Pagination Styling-----
.paginationUl {
  height: 5vh;
  background-color: #333333;
  font-size: 18px;
  margin-bottom: 1vh;
}

.pagination {
  display: inline;
  line-height: 5vh;
  padding: 0 .75vw;
}

.paginationButton {
  color: rgb(0, 125, 0);
  font-size: 13px;
  width: 5vw;
}

.currentPagination > button {
  color: black;
}

// -----Tables Styling-----
table {
  border: solid black 1px;
  margin-bottom: 1vh;
  width: 100%;
}

th {
  padding: 10px 2.5px;
}

td {
  padding: 7.5px 2.5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #aaaaaa;
}

.headerRow {
  background-color:#333333 !important;
  color: white;
}

// -----Sets Table Styling-----
.roundColumn {
  padding-left: 1vw;
  text-align: left;
  width: 20%; 
}

.playerColumn {
  width: 20%;
}

.scoreColumn {
  width: 10%
}

.tournamentsColumn {
  width: 30%
}

.tsRoundColumn {
  padding-left: 1vw;
  text-align: left;
  width: 30%;
}

.tsPlayerColumn {
  width: 30%;
}

.tsScoreColumn {
  width: 10%;
}

// -----Player Rankings Styling-----
.rankingSelect {
  margin: 1.5vh .5vw;
}

.rankingSelectLabel {
  font-size: 18px;
  font-weight: bold;
  margin: 1.5vh .5vw;
}

.rankColumn {
  width: 5%;
}

.stateColunm {
  width: 5%;
}

.tagColumn {
  width: 20%;
}

.mainsColumn {
  width: 25%;
}

.mainsColumn > img {
  vertical-align: middle;
}

.ratingColumn {
  width: 15%;
}

.winRateColumn {
  width: 15%;
}

// -----Tournaments Styling-----
.tournamentsListHeader {
  margin: 1.5vh;
}

.tournamentNameColumn {
  padding-left: 1vw;
  text-align: left;
  width: 30%
}

.tournamentWinnerColumn {
  width: 15%;
}

.dateColumn {
  width: 10%;
}

.entrantsColumn {
  width: 7.5%;
}

.setsColumn {
  width: 7.5%;
}

.tournamentUrlColumn {
  width: 30%;
}

// -----Tournament Profile Styling-----
.tournamentHeader {
  margin: 1vh;
}

.tournamentDiv {
  display: block;
  margin: 0 auto 1.5vh;
  max-width: 90%;
}

.tournamentInfo > li {
  margin-bottom: 1vh;
}

// -----Player Profile Styling-----
.playerHeader {
  margin: 1vh;
}

.mainsDiv {
  margin-bottom: .5vh;
}

.playerDiv {
  display: inline-block;
  margin: 0 2.5vw;
}

.mobilePlayerStatistics {
  margin-top: .25vh;
}

.playerInfoForm {
  margin: 1vh;
}

.playerInfoLabel {
  margin: 0 1vw;
}

.whichGraph {
  margin-bottom: .5vh;
}

.graph {
  height: 62vh;
}

// -----Player Profile Head 2 Head Styling-----
.personalHead2HeadTable {
  float: left;
  width: 67%;
}

.matchupColumn {
  width: 45%;
}

.comparisonColumn {
  width: 20%;
}

.removeColumn {
  width: 15%;
}

.matchupList {
  border: solid black 3px;
  box-sizing: border-box;
  float: right;
  padding: .5vh 0;
  vertical-align: top;
  width: 30%;
}

.matchupButton {
  display: inline-block;
  margin: .25vh .25vw;
}

.removeImg {
  vertical-align: middle;
}

// -----Top Player Head 2 Head Styling-----
.pairHead2HeadDiv {
  border: 1px solid black;
  background-color: #bbbbbb;
  padding: .75vh .75vw;
  margin: 1.5vh auto;
  width: 90%;
}

.head2HeadTableHeader {
  margin-bottom: 1vh;
}

.head2HeadTable {
  table-layout: fixed;
}

.head2HeadTh {
  padding: .75vh .5vw;
  border: solid 0.5px black;
  line-height: 16px;
}

.head2HeadTd {
  border: solid 0.5px black;
  line-height: 16px;
}

.head2HeadLink {
  color: white;
  text-decoration: none;
}

.noDataTd {
  font-size: 16px;
}

.percentagesComparison {
  font-size: 12px;
}

// ----Pair Head 2 Head Styling-----
.pairH2HDiv {
  display: inline-block;
  margin: 1vh 2.5vw 1.5vh;
}

.mobilePairStatistics {
  margin: 1vh 0;
}

// -----Request Page Styling-----
.requestSelect {
  margin: 1.5vh;
}

.formDiv {
  border: 1px solid black;
  background-color: #bbbbbb;
  padding: .75vh .75vw;
  margin: 0 auto 1.5vh;
  width: 90%;
}

.requestPrompt {
  margin-bottom: 1.5vh;
}

.formSelect {
  margin: 1vh .5vw 0;
}

.requestInput {
  width: 30vw;
  margin: 0 1vw;
}

.requestButton {
  display: block;
  margin: 1vh auto 0;
}

// -----About Styling-----
.aboutDiv {
  background-color: #bbbbbb;
  border: 3px inset black;
  border-radius: 25px;
  margin: 1.5vh auto 0;
  padding: 7.5px;
  width: fit-content;
}

.aboutDiv:last-child {
  margin-bottom: 1.5vh;
}

.aboutH3 {
  margin-bottom: 1vh;
}

@media (max-width: 979px) {
  // ----Top Player Head 2 Head Table Styling-----
  .head2HeadTableDiv {
    overflow-x: scroll;
  }

  .head2HeadTable {
    width: 1080px;
  }

  .leftHeader {
    position: sticky;
  }

  @media (orientation: landscape) {
    // -----Nav Styling-----
    .navUl {
      height: 7.5vh;
    }

    .navLink {
      line-height: 7.5vh;
    }

    // ----Pagination Styling-----
    .paginationUl {
      height: 7.5vh;
    }

    .pagination {
      line-height: 7.5vh;
    }

    // -----Player Profile Styling-----
    .graph {
      height: 95vh;
    }
  }
}

@media (max-width: 767px) {

}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
  
  h1 {
    font-size: 32px;
  }

  // -----Nav Styling-----
  .navLink {
    border-right: none;
    font-size: 14px;
  }

  // -----Tables Styling-----
  table {
    font-size: 12px;
  }

  // -----Player Rankings-----  
  .rankingSelect {
    margin: 1.5vh .25vw;
  }
  
  .rankingSelectLabel {
    font-size: 14px;
    margin: 1.5vh 0;
  }

  .mainsColumn > img {
    width: 35%;
    vertical-align: middle;
  }

  // -----Sets Styling-----
  .roundColumn, .tsRoundColumn {
    padding-left: 2.5px;
    text-align: center;
  }

  // -----Tournaments Styling-----
  .tournamentNameColumn {
    padding-left: 2.5px;
    text-align: center;
  }

  // -----Player Profile Styling-----
  .graph {
    width: 900px;
  }

  .graphContainer {
    overflow-x: scroll;
  }

  // -----Player Profile Head 2 Head Table Styling-----
  .personalHead2HeadTable {
    width: 100%;
  }

  .matchupList {
    display: block;
    margin: 0 auto 1vh;
    width: 100%;
  }

  .matchupButton {
    margin: .25vh 1vw;
  }

  // -----Request Page Styling-----
  .requestSelect {
    margin: 5vh 0 2.5vh;
  }
  
  .formDiv {
    font-size: 12px;
  }
  
  .requestInput {
    display: block;
    margin: 1.5vh auto;
    width: 60%;
  }

  .formSelect {
    margin: 1.5vh 2.5vw;
  }

  // -----About Styling-----
  .aboutDiv {
    width: 90%;
  }
}