.rankColumn {
  width: 5vw;
}

.nameColumn {
  width: 30vw;
  text-align: left;
}

.mainsColumn {
  width: 20vw;
  text-align: left;
}

.scoreColumn {
  width: 10vw;
}

.winRateColumn {
  width: 5vw;
}