.navUl {
  background-color: #333333;
  height: 5vh;
  list-style: none;
  padding-left: 7.5px;
}

.navLi:last-child > a {
  border-right: none;
}

.navLi {
  float: left;
  height: 5vh;
  line-height: 5vh;
}

.navLink {
  border-right: 1px solid white; 
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
}
