ul {
  list-style: none;
  width: 100vw;
  height: 5vh;
  background-color: #333333;
}

li {
  height: 5vh;
  line-height: 5vh;
  padding: 0px 7.5px;
  float: left;
}

a {
  text-align: center;
  color: white;
}